.myForm {
    outline: 2px solid black;
    margin-top: 200px;
    margin-left: 350px;
    width: 450px;
    alignment-adjust: central;
    text-align: center;
}

footer {
	background-color: black;
	height:80px;
	width:1348px;
	color:white;
	padding-left:15px;
	font-size: 17px;
	padding-top: 25px;
        margin-top: 130px;
}