<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/jumbotron.css" rel="stylesheet">
    
    <!-- Our custom stylesheet -->
    <link href="static/welcome.css" rel="stylesheet">    


  </head>
  <body>
    <!-- Starting Of Navbar -->
    <nav class="navbar navbar-default custom_navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Share<span style="color:#80B2B2;">A</span>Car</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">HOME</a></li>
            
            <li><a href="/">GET A RIDE</a></li>
            <li><a href="/profile">PROFILE</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-danger signIn"><a href="/logout">Logout</a></button></li>
           </ul>
            </li>
      </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!-- End of NavBar -->

<div id="travel" style="margin-top: 60px;">
    
<h1>Hello, {{ current_user }}</h1>
    {% for rides in upcoming_rides_list %}
        <li>{{rides.user.username}} from {{rides.user.workplace}} to {{rides.destination}} at {{rides.time}} sharp</li>
    {% endfor %}
<a href="/addjourney" >Add Journey</a><br>
</div>

 <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script> 
  <script src="js/shuttle.js"></script>   

    </body>
</html>
